.footer {
  background: #f5f5f5;
  padding: 40px 0;
}

.footer-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.footer h4 {
  font-weight: 600;
  margin-bottom: 12px;
}

.footer p {
  margin: 6px 0;
  cursor: pointer;
  color: #555;
}


.footer select {
  padding: 6px;
}

.social-icons {
  display: flex;
  gap: 12px;
  font-size: 18px;
  cursor: pointer;
}
