.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: 1px solid #eaeaea;
    background-color: #ffffff;
}


.navbar-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo-and-name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: contain;
}

.navbar-app-name {
    font-size: 30px;
    font-weight: 600;
}

.location-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-location {
    border: solid gray;
    border-width: 0px 0px 2px 0px;
}

.location-icon {
    font-size: 18px;
}


.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-icon {
    font-size: 30px;
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.navbar-link:hover {
    cursor: pointer;
    color: rgb(250, 50, 50);
}