.cal-wrapper {
  max-width: 360px;
  max-height: fit-content;
  margin: 20px auto;
  padding: 14px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255, 0.75);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.cal-heading {
  font-size: 16px;
  font-weight: 600;
  margin: 6px;
}

.react-calendar {
  width: 100%;
  border: none;
  font-family: "Inter", system-ui, sans-serif;
  background: transparent;
}


.react-calendar__navigation {
  display: flex;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  min-width: 36px;
  background: none;
  border-radius: 8px;
  font-size: 14px;
  color: #111827;
}

.react-calendar__navigation button:hover {
  background: #f3f4f6;
}


.react-calendar__month-view__weekdays {
  text-align: center;
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 6px;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}


.react-calendar__tile {
  border-radius: 8px;
  padding: 10px 0;
  font-size: 14px;
  color: #111827;
}


.react-calendar__tile:hover {
  background: #f3f4f6;
}


.react-calendar__tile--now {
  background: #e5e7eb;
  color: #111827;
  font-weight: 600;
}


.react-calendar__tile--active {
  background: #2563eb;
  color: white;
}

.react-calendar__tile--active:hover {
  background: #1d4ed8;
}


.react-calendar__tile:disabled {
  color: #d1d5db;
  background: transparent;
}