.navbar {
    position: sticky;
    top: 0;
    z-index: 120;
    background: rgba(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-and-name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: contain;
}

.navbar-app-name {
    font-size: 30px;
    font-weight: 600;
}


.location-wrapper {
    max-width: 180px;
    padding: 8px 14px;
}

.navbar-location-link {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.navbar-location {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 600;
    color: #374151;
}

.location-icon {
    flex-shrink: 0;
    color: #ff5722;
    font-size: 16px;
}


.navbar-right {
    display: flex;
    align-items: center;
    gap: 24px;
}


.navbar-link {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    position: relative;
    transition: color 0.2s ease;
}

.navbar-link:hover {
    color: #ff5722;
}

.navbar-link::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ff5722;
    transition: width 0.3s ease;
}

.navbar-link:hover::after {
    width: 100%;
}


.nav-icon {
    font-size: 18px;
}


.navbar-link:last-child {
    padding: 8px 14px;
    border-radius: 10px;
    background: #ff5722;
    color: white;
}

.navbar-link:last-child:hover {
    color: white;
}

.navbar-link:last-child::after {
    display: none;
}

@media (max-width: 800px) {
  .navbar-app-name {
    display: none;
  }
}