.auth-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}

.auth-layout {
    width: 70%;
    max-width: 1000px;
    height: 520px;
    display: flex;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    animation: fadeUp 0.7s ease;
}

.auth-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-left {
    flex: 1;
    padding: 40px;
    background-color: rgb(250, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.auth-home {
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
}

.auth-home-link {
    display: flex;
    align-items: center;
    gap: 2px;
}

.auth-home-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.auth-left h2 {
    font-size: 28px;
    margin-top: 20px;
    color: #fff;
}

.auth-left p {
    margin: 8px 0px;
    color: rgba(255, 255, 255, 0.75);
}

.auth-img-wrapper {
    position: relative;
    width: 80%;
    flex: 0.8;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-front-img {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-items: center;
    transform: translate(-50%, -50%);
    filter: brightness(0.9) contrast(1.1);
    transition: transform 0.4s ease;
}

.auth-left:hover .auth-front-img {
    transform: translate(-50%, -55%) scale(1.05);
}

.auth-right {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 900px) {
    .auth-left {
        display: none;
    }

    .auth-container,
    .auth-layout {
        width: 90%;
        height: auto;
    }

    .login-form {
        width: 100%;
        box-shadow: none;
    }
}