.signup-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  width: 100%;
  padding: 40px;
  animation: fadeUp 0.6s ease;
}

.signup-form h2 {
  margin-bottom: 22px;
  font-size: 28px;
}


.signup-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.signup-form input:focus {
  outline: none;
  border-color: #ff4d4f;
}


.signup-form button {
  width: 100%;
  padding: 14px;
  background: rgb(250, 50, 50);
  color: #fff;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 6px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.signup-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(255, 77, 79, 0.4);
}

.signup-form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


.signup-links {
  margin-top: 16px;
  font-size: 14px;
  color: #ff4d4f;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}